build/*
*.out
*.txt
*.sol
sol/*
*.ipynb
.vscode
pace_env/
src/.ipynb_checkpoints/*
visualizer.py

crossing_counts_instances.sh
crossing_counts_test.sh
instances_heuristic/
sol.sol
src/sol.sol
src/submission.cpp